---
import BannerReserva from "../components/BannerReserva.astro";
import BannerSobre from "../components/BannerSobre.astro";
import ContainerPage from "../components/ContainerPage.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SectionImageText from "../components/SectionImageText.astro";
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

import mapa from "../assets/mapa.png";
import sobre from "../assets/sobre-empresa.png";
import cultura from "../assets/cultura.png";
import loja from "../assets/loja-camdal.png";
import paranavai from "../assets/paranavai.png";
import cianorte from "../assets/cianorte.png";
import D from "../components/D.astro";
import Avaliacoes from "../components/Avaliacoes.astro";
---

<Layout title="Home" description="Home">
  <Header />
	<ContainerPage>
    <div class="mb-20 lg:mb-16 xl:mb-24"><BannerSobre/></div>
    <div class="flex flex-col gap-16 px-6 sm:px-0">
        <SectionImageText image={loja.src} alt="Loja fisica da Camdal" position="right">
        <div>
          <h2 class="text-2xl font-bold mb-5">Conheça <D>mais</D></h2>
          <div class="flex flex-col gap-4">
            <p class="text-base font-light">
              Iniciada em Maio de 2021, a Camdal surge com uma proposta de trabalho diferente, com uma frota nova, partindo de veículos econômicos compactos,
              passando pelos modelos Sedans, com maior espaço interno, e alcançando a alta gama dos SUV’s Automáticos, espaçosos e muito confortáveis nas longas viagens.
            </p>

            <p class="text-base font-light">
              No jogo de palavras, Camdal possui 6 letras, assim como VIAJAR. Ir para algum lugar, conhecer, visitar, até mesmo, trabalhar.
              Seis, também é interessante para os sócios da empresa, tendo em vista sua crença cristã. No sexto dia, Deus criou os animais e o homem. Esse dia antecedeu o sétimo, que foi o do descanso de Deus, onde viu que sua criação era maravilhosa.
            </p>

            <p class="text-base font-light">
              O nome tem em sua composição a Mística do "M", que remete ao significado de Maria, a mãe do Salvador Jesus e gera um nome único com a união de Câmara e Dalberto - Camdal Aluguel de Carros.
            </p>

            <p class="text-base font-light">
              Com arquitetura bem desenhada, a Agencia conta com um visual que se destaca pelas cores fortes e vibrantes, Laranja, Azul e Cinza e que refletem a forma de trabalho que se imprime ao negócio.
            </p>
          </div>
        </div>
      </SectionImageText>

      <SectionImageText image={cultura.src} alt="Nossos principios" position="left">
        <div class="flex flex-col gap-4">
          <div>
            <h2 class="text-2xl font-bold mb-4">Missão</h2>
            <p class="font-light text-base">Contribuir para que pessoas e negócios trilhem seus caminhos.</p>
          </div>

          <div>
            <h2 class="text-2xl font-bold mb-4">Visão</h2>
            <p class="font-light text-base">Contribuir para que pessoas e negócios trilhem seus caminhos.</p>
          </div>

          <div>
            <h2 class="text-2xl font-bold mb-4">Valores</h2>
            <p class="font-light text-base"><span class="font-bold">Fé:</span> Temos a certeza que Deus, através de nossa fé, nos conduz ao sucesso.</p>
            <p class="font-light text-base"><span class="font-bold">Respeito </span>as pessoas: Valorizamos e respeitamos todas as pessoas, acreditamos que a diversidade nos faz crescer como indivíduos e empresa.</p>
            <p class="font-light text-base"><span class="font-bold">Ética </span>e Transparência: A honestidade é o eixo que direciona nossas ações, refletimos e nos movimentamos como donos do negócio.</p>
            <p class="font-light text-base"><span class="font-bold">Excelência:</span> Melhoria constante, simplificando sempre.</p>
            <p class="font-light text-base"><span class="font-bold">Responsabilidade </span>Sócio Ambiental: Estamos atentos e procuramos ser atuantes na conservação e preservação do Meio Ambiente, e assim contribuir para o bem-estar de nossa sociedade.</p>
            <p class="font-light text-base"><span class="font-bold">Sustentabilidade:</span> Garantir a prosperidade do negócio a longo prazo.</p>
          </div>
        </div>
      </SectionImageText>

      <SectionImageText image={cianorte.src} alt="Cianorte, capital do vestuário" position="right" >
        <div><h2 class="text-2xl font-bold mb-5">Cianorte</h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">
            Cianorte, conhecida como a "Capital do Vestuário", é uma cidade no noroeste do Paraná, destacada pela alta qualidade de vida e baixo desemprego.
            Fundada em 26 de julho de 1953, a cidade foi planejada pela Companhia de Melhoramentos do Norte do Paraná, seguindo o conceito de "Cidade Jardim" do urbanista inglês Ebenezer Howard.
          </p>

          <p class="text-base font-light">
            Inicialmente, a economia de Cianorte era baseada no café, mas enfrentou dificuldades na década de 1970 devido a geadas e mudanças econômicas. Superando esses desafios, Cianorte se reinventou como um importante polo de confecção, influenciado por imigrantes libaneses, e hoje abriga a maior feira de vestuário do sul do país, a Expovest.
          </p>

          <p class="text-base font-light">
            Atualmente, a economia é diversificada, incluindo indústrias alimentícias, metal-mecânicas, software, móveis, bebidas, pecuária e agricultura, com destaque para a produção de cana-de-açúcar.
          </p>
        </div></div>
      </SectionImageText>

      <SectionImageText image={paranavai.src} alt="Paranavaí" position="left" >
        <div><h2 class="text-2xl font-bold mb-5">Paranavaí</h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">
            Paranavaí é uma cidade no noroeste do Paraná, Brasil, fundada em 14 de dezembro de 1952. Sua história está ligada à colonização incentivada pelo governo estadual e empresas, atraindo migrantes, especialmente de São Paulo e Minas Gerais.
          </p>

          <p class="text-base font-light">
            A economia é diversificada, com foco na agricultura, destacando-se na produção de mandioca, laranja, soja, milho e cana-de-açúcar, além de um significativo setor agroindustrial.
          </p>

          <p class="text-base font-light">
            O comércio e os serviços também são importantes, com um crescente desenvolvimento industrial.
            Culturalmente rica, Paranavaí sedia eventos como o Festival de Música e Poesia (Femup) e a ExpoParanavaí.
          </p>

          <p class="text-base font-light">
            A cidade possui uma boa infraestrutura educacional, incluindo a Universidade Estadual do Paraná (Unespar). Paranavaí equilibra tradição e modernidade, sendo um excelente lugar para viver, trabalhar e investir.
          </p>
        </div></div>
      </SectionImageText>

      <SectionImageText image={sobre.src} alt="Sobre nossa empresa" position="right">
        <div><h2 class="text-2xl font-bold mb-5">Sobre nossa <D>empresa</D></h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">
            Somos uma empresa especializada na locação de carros, modalidade RAC – Rent a Car. A Camdal foi criada, sempre buscando a Excelência no atendimento aos clientes.
          </p>

          <p class="text-base font-light">
            Quando alcançamos o entendimento completo das necessidades individuais de cada pessoa, nosso objetivo é atingido. Isto facilita na escolha do modelo de veículo a ser escolhido
            e também no modelo de contrato locação, diário, semanal, quinzenal ou mensal. Nossos colaboradores estão treinados para encontrar a solução ideal a cada ocasião,
            desde a simples locação para trabalho, uma viagem de final de ano com a família ou mesmo, para levar a noiva ao seu grande momento no altar.
          </p>

          <p class="text-base font-light">
            Queremos que a experiência de locação de um automóvel aos nossos clientes, seja sempre única e com foco na confiança, e assim
            estreitamos os laços com cada cliente atendido, gerando compromisso de longo prazo com cada indivíduo.
          </p>
        </div></div>
      </SectionImageText>

      <SectionImageText image={mapa.src} alt="Area de atendimento Camdal" position="left">
        <div><h2 class="text-2xl font-bold mb-5">Localização <D>estratégica</D></h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">
            Cianorte encontra-se localizada no Noroeste Paranaense. A Cidade está estrategicamente no centro, a uma distância média de 80 a 90 Km das vizinhas, Maringá, Campo Mourão, Umuarama e Paranavaí.
          </p>

          <p class="text-base font-light">
            Paranavaí está localizada estrategicamente próxima de importantes rodovias, que facilitam o acesso e aproximam as divisas com São Paulo e Mato Grosso do Sul. A cidade faz parte da Mesorregião Noroeste Paranaense, e fica a 70 km de Maringá PR.
          </p>
        </div></div>
      </SectionImageText>
    </div>

    <div class="py-16"><Avaliacoes /></div>
  </ContainerPage>
  <Footer />
</Layout>
