---
import ContainerPage from "../components/ContainerPage.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SectionImageText from "../components/SectionImageText.astro";
import Layout from '../layouts/Layout.astro';

import mapa from "../assets/mapa.png";
import sobre from "../assets/sobre-empresa.png";
import cultura from "../assets/cultura.png";
import loja from "../assets/loja-camdal.png";
import paranavai from "../assets/paranavai.png";
import cianorte from "../assets/cianorte.png";
import D from "../components/D.astro";
import Avaliacoes from "../components/Avaliacoes.astro";
import BannerSobre from "../components/BannerSobre.astro";
import BannerAncora from "../components/BannerAncora.astro";
import bgParallax from "../assets/bg-parallax-sobre.jpg";
---

<Layout title="Sobre a Camdal | Aluguel de Carros em Cianorte, Paranavaí e região" description="Conheça a Camdal, uma empresa especializada em aluguel de carros em Cianorte, Paranavaí e região. Nossa missão é oferecer locação de veículos com qualidade, segurança e excelente atendimento.">
  <Header />
	<ContainerPage>
    <div class="mb-20 lg:mb-16 xl:mb-24">
      <BannerSobre type="sobre">
        <h1 class="text-2xl">Atendimento com <D>respeito</D>, escuta e excelência</h1>
        <p class="text-lg pt-3">Na Camdal, acreditamos que um atendimento verdadeiramente humano faz toda a diferença. Do primeiro contato à devolução do veículo, nossa equipe está pronta para ouvir, entender e entregar a melhor solução para cada cliente.</p>
      </BannerSobre>
    </div>
    <div class="flex flex-col gap-16 px-6 sm:px-0">
      <SectionImageText image={sobre.src} alt="Sobre a camdal" position="left">
        <div><h2 class="text-2xl font-bold mb-5">Sobre a <D>Camdal</D></h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">
            Somos especialistas em locação de veículos nas modalidades RAC – Rent a Car, Carro por Assinatura e Gestão de Frotas. Desde a nossa criação, buscamos permanentemente a excelência no atendimento, com foco nas necessidades de cada cliente.
          </p>

          <p class="text-base font-light">
            Acreditamos que compreender a realidade de cada pessoa é essencial para oferecer a melhor solução. Por isso, avaliamos sempre o modelo de veículo e o tipo de contrato mais adequado — seja diário, semanal, quinzenal ou mensal.
          </p>

          <p class="text-base font-light">
            Nossos colaboradores estão preparados para atender desde demandas rotineiras, como o uso no trabalho, até ocasiões especiais, como viagens em família ou eventos marcantes, como um casamento.
          </p>

          <p class="text-base font-light">
            Na Camdal, cada locação é uma experiência única, marcada pela confiança, atenção e compromisso de longo prazo com quem confia em nosso trabalho.
          </p>
        </div></div>
      </SectionImageText>

      <SectionImageText image={loja.src} alt="Loja fisica da Camdal" position="right">
        <div>
          <h2 class="text-2xl font-bold mb-5">Conheça <D>mais</D> sobre a <D>Camdal</D></h2>
          <div class="flex flex-col gap-4">
            <p class="text-base font-light">
              Fundada em maio de 2021, a Camdal nasceu com uma proposta diferenciada: oferecer uma experiência de locação de veículos marcada pela excelência, qualidade e cuidado com cada detalhe. Nossa frota é composta por veículos novos, que vão desde modelos compactos e econômicos, passando pelos espaçosos sedans, até os SUV’s automáticos — ideais para quem busca conforto nas longas viagens.
            </p>

            <p class="text-base font-light">
              No jogo de palavras, Camdal possui 6 letras, assim como a palavra VIAJAR. E viajar é isso: conhecer, visitar, se mover — seja a trabalho ou a lazer. O número seis também carrega um significado especial para nós. Como cristãos, recordamos que, no sexto dia, Deus criou os animais e o ser humano — e no sétimo, descansou ao ver que tudo era bom. Essa simbologia reforça nossa fé e propósito de servir com excelência.

            </p>

            <p class="text-base font-light">
              O nome Camdal traz ainda uma mística própria: o “M” remete a Maria, mãe do Salvador Jesus, enquanto sua formação une os nomes Câmara e Dalberto — resultando em uma identidade única e cheia de significado.

            </p>

            <p class="text-base font-light">
             Com uma arquitetura pensada nos mínimos detalhes, nossas agências se destacam pelas cores fortes e vibrantes — laranja, azul e cinza — que expressam a energia, a confiança e a solidez que imprimimos em nosso modo de trabalhar.

            </p>
          </div>
        </div>
      </SectionImageText>

      <SectionImageText image={cultura.src} alt="Nossos principios" position="left">
        <div class="flex flex-col gap-4">
          <div>
            <h2 class="text-2xl font-bold mb-4">Missão</h2>
            <p class="font-light text-base">Contribuir para que pessoas e negócios trilhem seus caminhos.</p>
          </div>

          <div>
            <h2 class="text-2xl font-bold mb-4">Visão</h2>
            <p class="font-light text-base">Contribuir para que pessoas e negócios trilhem seus caminhos.</p>
          </div>

          <div>
            <h2 class="text-2xl font-bold mb-4">Valores</h2>
            <p class="font-light text-base"><span class="font-bold">Fé:</span> Temos a certeza que Deus, através de nossa fé, nos conduz ao sucesso.</p>
            <p class="font-light text-base"><span class="font-bold">Respeito </span>as pessoas: Valorizamos e respeitamos todas as pessoas, acreditamos que a diversidade nos faz crescer como indivíduos e empresa.</p>
            <p class="font-light text-base"><span class="font-bold">Ética </span>e Transparência: A honestidade é o eixo que direciona nossas ações, refletimos e nos movimentamos como donos do negócio.</p>
            <p class="font-light text-base"><span class="font-bold">Excelência:</span> Melhoria constante, simplificando sempre.</p>
            <p class="font-light text-base"><span class="font-bold">Responsabilidade </span>Sócio Ambiental: Estamos atentos e procuramos ser atuantes na conservação e preservação do Meio Ambiente, e assim contribuir para o bem-estar de nossa sociedade.</p>
            <p class="font-light text-base"><span class="font-bold">Sustentabilidade:</span> Garantir a prosperidade do negócio a longo prazo.</p>
          </div>
        </div>
      </SectionImageText>

      <div class="py-28"><BannerAncora link="nossos-carros" title="Veja nossos veículos" description="Oferecemos uma gama de veículos diferenciados para melhor atender. Nossa frota está sempre pronta para ser utilizada, com manutenção em dia, e veículos limpos." image={bgParallax.src} /></div>

      <SectionImageText image={mapa.src} alt="Area de atendimento Camdal" position="right">
        <div><h2 class="text-2xl font-bold mb-5">Localização <D>estratégica</D></h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">A Camdal está presente em Cianorte e Paranavaí, duas cidades com localização privilegiada no Noroeste do Paraná.</p>
          <p class="text-base font-light">
            Cianorte fica no centro da região, próxima a Maringá, Umuarama, Campo Mourão e Paranavaí, facilitando o acesso rápido a diversos destinos.
          </p>

          <p class="text-base font-light">
            Paranavaí está conectada às principais rodovias, com fácil acesso às divisas com São Paulo e Mato Grosso do Sul, a apenas 70 km de Maringá.
          </p>
          <p class="text-base font-light">
            Essa presença estratégica garante mobilidade, agilidade e atendimento regional eficiente.
          </p>
        </div></div>
      </SectionImageText>

      <SectionImageText image={cianorte.src} alt="Cianorte, capital do vestuário" position="left" >
        <div><h2 class="text-2xl font-bold mb-5">Cianorte</h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">
            Cianorte, conhecida como a "Capital do Vestuário", é uma cidade no noroeste do Paraná, destacada pela alta qualidade de vida e baixo desemprego.
            Fundada em 26 de julho de 1953, a cidade foi planejada pela Companhia de Melhoramentos do Norte do Paraná, seguindo o conceito de "Cidade Jardim" do urbanista inglês Ebenezer Howard.
          </p>

          <p class="text-base font-light">
            Inicialmente, a economia de Cianorte era baseada no café, mas enfrentou dificuldades na década de 1970 devido a geadas e mudanças econômicas. Superando esses desafios, Cianorte se reinventou como um importante polo de confecção, influenciado por imigrantes libaneses, e hoje abriga a maior feira de vestuário do sul do país, a Expovest.
          </p>

          <p class="text-base font-light">
            Atualmente, a economia é diversificada, incluindo indústrias alimentícias, metal-mecânicas, software, móveis, bebidas, pecuária e agricultura, com destaque para a produção de cana-de-açúcar.
          </p>
        </div></div>
      </SectionImageText>

      <SectionImageText image={paranavai.src} alt="Paranavaí" position="right" >
        <div><h2 class="text-2xl font-bold mb-5">Paranavaí</h2>
        <div class="flex flex-col gap-4">
          <p class="text-base font-light">
            Paranavaí é uma cidade no noroeste do Paraná, Brasil, fundada em 14 de dezembro de 1952. Sua história está ligada à colonização incentivada pelo governo estadual e empresas, atraindo migrantes, especialmente de São Paulo e Minas Gerais.
          </p>

          <p class="text-base font-light">
            A economia é diversificada, com foco na agricultura, destacando-se na produção de mandioca, laranja, soja, milho e cana-de-açúcar, além de um significativo setor agroindustrial.
          </p>

          <p class="text-base font-light">
            O comércio e os serviços também são importantes, com um crescente desenvolvimento industrial.
            Culturalmente rica, Paranavaí sedia eventos como o Festival de Música e Poesia (Femup) e a ExpoParanavaí.
          </p>

          <p class="text-base font-light">
            A cidade possui uma boa infraestrutura educacional, incluindo a Universidade Estadual do Paraná (Unespar). Paranavaí equilibra tradição e modernidade, sendo um excelente lugar para viver, trabalhar e investir.
          </p>
        </div></div>
      </SectionImageText>

    </div>

    <div class="py-16"><Avaliacoes /></div>
  </ContainerPage>
  <Footer />
</Layout>
