---

import logo from "../assets/logo-white.png"
import logoVertical from "../assets/bg-logo.png"

interface Props {
  title: string;
  description: string;
  image: string;
  link: string;
}

const { title, description, image, link }: Props = Astro.props;

---

<section
  class="relative h-[30rem] sm:h-[21.25rem] flex items-center justify-start px-10 text-white bg-fixed bg-center"
  style={`background-image: url(${image});`}
>
  <div class="w-full h-full absolute top-0 right-0 z-1 bg-contain bg-no-repeat" style={`background-image: url(${logoVertical.src}); background-position: 90% center;`}></div>

  <div class="max-w-7xl w-7xl mx-auto">
    <div class="relative z-10 max-w-2xl">
      <img src={logo.src} alt="Logo Camdal" class="mb-9 w-36 h-auto" />
      <h1 class="text-4xl font-bold mb-4">
        {title}
      </h1>
      <p class="mb-6 text-sm font-light max-w-lg">
        {description}
      </p>
      <a href={link} class="bg-c-orange hover:bg-c-blue hover:cursor-pointer text-white font-semibold py-2 px-6 rounded">
        Ver mais
      </a>
    </div>
  </div>

</section>
