---
import bgBanner from '../assets/bg-banner.png';

interface Props {
  config: string;
}

const { config } = Astro.props as Props;

---

<div class="loop-slide" style={config}>
  <div >
    <img src={bgBanner.src} />
    <img src={bgBanner.src} />
    <img src={bgBanner.src} />
    <img src={bgBanner.src} />
  </div>
</div>

<style>
    .loop-slide {
        overflow: hidden;
    }
    .loop-slide > div {
        display: flex;
        animation: slide-to-left 25s linear infinite var(--direction);
    }
    .loop-slide > div > * {
        min-width: calc(100% / var(--slideToShow));
    }
    @keyframes slide-to-left {
        100% { transform: translateX(calc(-100% * (var(--slideNum) / var(--slideToShow)))) }
    }
</style>
